@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.container-fluid {
  padding: 0 !important;
}

section.parallax-bg-1 {
  background-size: cover;
}
